body {
    background-image: linear-gradient(  #ED8CC6, #CE539C, #A30262 );
}

header {
display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 60px 8%;
  position: relative;
  z-index: 2;
}

.logo-goodvibes {
  color: #821957;
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0px;
  align-items: start;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container {
    background-color: white;
    height: 550px;
    width: 450px;
    margin: 50px auto 0 auto;
    border-radius: 20px
}

.container h2 {
padding: 20px;
text-align: center;;
font-size: 28px;
}

.container p{
    padding: 5px;
    font-size: 15px;
    margin-left: 50px;
}
 .input-box-nome input {
    width: 70%;
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
   line-height: 15px;
   border: 2px solid #AC146F;
   padding-top: 10px;
   padding-right: 15px;
 }

 .input-box-email input {
    width: 70%;
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
   line-height: 15px;
   border: 2px solid #AC146F;
   padding-top: 10px;
   padding-right: 15px;
 }

 .input-box-senha input {
    width: 70%;
    margin: 10px;
    font-size: 10px;
    padding: 10px;
    border-radius: 15px;
   line-height: 15px;
   border: 2px solid #AC146F;
   padding-top: 10px;
   padding-right: 15px;
 }

 .botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    background-color: #AC146F;
    border-radius: 20px;
    color: white;
  
    cursor: pointer;
    text-align: center;
    width: 50%;
    height: 50px;
 }

 .botao:hover {
    transform: scale(1.02);
    background-color:  #EF7627;
 }