* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #821957;
  font-family: Arial, Helvetica, sans-serif;
  color: #5A0033;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.logo {
  height: 60px;
}

.goodvibes {
  color: #F19559;
  font-size: 28px;
  margin-right: 1100px;
}

.config {
  color: #F19559;
  text-align: center;
}

.bloco {
  width: 230px;
  height: 60px;
  background-color: #d9d9d94b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra {
  width: 100%;
  height: 4px;
  background-color: #D162A4;
  margin-top: 5px;
}


.blococentral {
  width: 1200px;
  height: 600px;
  background-color: #D162A4;
  margin: 40px auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloco2 {
  width: 1160px;
  height: 540px;
  background-color: #F2B6DC;
  border-radius: 10px;
  padding: 40px;
}

.texto {
  margin-top: -50px;
}


.tema-switch {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 0px;
  margin-top: -50px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d48dbb;
  border-radius: 30px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #821957;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.label-text {
  font-size: 16px;
}

.tamanho-fonte {
  background-color: #f7dff0;
  border-radius: 15px;
  width: 220px;
  padding: 20px;
  margin-top: 10px;
}

.tamanho-fonte p {
  font-weight: bold;
  margin-bottom: 10px;
}

.tamanho-fonte label {
  font-size: 15px;
  display: block;
  margin-bottom: 5px;
}

.tamanho-fonte input[type="radio"] {
  accent-color: #821957;
  
}

#circulo {
    width: 220px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-left: 500px;
    margin-top: 30px;
    background-image: linear-gradient(  #ED8CC6, #CE539C, #A30262 );
    box-shadow: 10px 5px 5px 0px rgba(10px, 0, 0, 0.3);
    margin-left: 155px;
}

#perfil {
     margin-left: 0;
    display: block;
    margin: -225px auto 0 auto;
    margin-left: 150px;
}
