* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #821957;
   font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    justify-content: space-between;
   display: flex;
  align-items: center; 
  gap: 10px
}

.logo {
   margin-bottom: 0px;
   align-items: start;

}

.goodvibes {
    color: #F19559;
    align-items: center;
    display: flex;
    padding-right: 980px;
}

.novo {
    color: #F19559;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

.bloco {
    width: 200px;
    height: 120;
    background-color: #d9d9d94b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra {
    width: 100%;
    height: 4px;
    background-color: #D162A4;
    margin-top: 5px;
}

.blococentral {
    width: 1200px;
    height: 600px;
    background-color: #D162A4;
    margin: 35px;
    margin-left: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco2 {
    width: 400px;
    height: 400px;
    background-color: #f2eeb6;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
}

