
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body { 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ED8CC6;
}

.logo-goodvibes {
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 50px;
  color: #821957
}


.mural {
    color: #D52D00;
}
 
.texto-inicial {
    color: #821957
 }

 .subtexto {
    color:#C84794 ;
 }

 .mural,
 .texto-inicial,
 .subtexto {
    margin-left: 20px;
 }


 .container-lateral {
    width: 400px;
    height: 960px;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .painel {
    width: 100%;
    height: 100%;
    background-color: #c64ca4; 
    position: relative;
    overflow: hidden;
   
  }
  

  .circulo {
    position: absolute;
    right: -60px; 
    background-color: #b21272;
    border-radius: 50%;
  }
  
  .c1 {
    width: 300px;
    height: 500px;
    top: -50px;

  }
  
  .c2 {
    bottom: 150px;  
      width: 400px;
      height: 500px;
      
  }
  
  .c3 {
    width: 300px;
    height: 300px;
    bottom: -30px;
  }
  