* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ed8cc6;
  font-size: xx-large;
  position: relative;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 1rem 8%;
  position: relative;
  z-index: 2;
  margin-top: 1vh;
}

#goodvibes {
  color: #821957;
  align-items: center;
  display: flex;
  color: #821957;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0px;
  align-items: start;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/*texto*/

.mural-caixa{
  background-color: rgba(0, 0, 255, 0);
  padding: 80px;
  width: 1155px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#text{
  color: #821957;
  font-size: 30px;
}


.mural{
  display: flex;
  width: 1000px;
  color: #ff5537;
  margin: 80px auto 1px auto;
  align-items: start;
  font-size: 40px;
}

.sub-text{
  height: 100px;
  font-size: 20px;
  margin-top: 70px;
}




.container-lateral {
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  height: 100vh;
  z-index: 0;
  transition: all 0.4s ease;
}
.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #821957;
  font-size: 2rem;
  font-weight: bold;
  padding: 15px 35px;
  border-radius: 50px 0 0 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 3;
}

.next::after {
  content: " ï¼‹";
  font-size: 2rem;
  font-weight: bold;
}

.painel {
  width: 100%;
  height: 100%;
  background-color: #a30262;
  position: relative;
  overflow: hidden;
}

.circulo {
  position: absolute;
  right: -15%;
  background-color: #cc5ea0;
  border-radius: 50%;
  opacity: 100%;
}

.c1 {
  width: 33vw;
  height: 45vh;
  top: -5vh;
}

.c2 {
  bottom: 20vh;
  width: 38vw;
  height: 56vh;
}

.c3 {
  width: 30vw;
  height: 40vh;
  bottom: -5vh;
}
