* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
   background: #821957;
   font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
   justify-content: space-between;
   display: flex;
   align-items: center; 
   gap: 10px
}

.logo {
   margin-bottom: 0px;
   align-items: start;
}

.goodvibes {
    color: #F19559;
    align-items: center;
    display: flex;
    padding-right: 85%;
}

.perfil {
    color: #F19559;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

.bloco {
    width: 200px;
    height: 120;
    background-color: #d9d9d94b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra {
    width: 100%;
    height: 4px;
    background-color: #D162A4;
    margin-top: 5px;
}

.blococentral {
    background-color: #D162A4;
    margin: 35px;
    margin-left: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 84vh;
}

.bloco2 {
    width: 60vh;
    height: 60vh;
    background-color: #98DFE4;
    padding: 5vh;
}
 .bloco2 p {

    text-align: justify;
    font-weight: bold;
    margin-top: 60px;
    margin-left: 60px;
    white-space: pre-line; 
    font-size: larger;
 }

 .engrenagem {
    margin-left: 10vh;
 }