* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #821957;
}

.logo-container {
    justify-content: space-between;
   display: flex;
  align-items: center; 
  gap: 10px
}

.logo {
   margin-bottom: 0px;
   align-items: start;

}

.goodvibes {
    color: #F19559;
    align-items: center;
    display: flex;
    padding-right: 1000px;
}

.perfil {
    color: #F19559;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

.bloco {
    width: 200px;
    height: 120;
    background-color: #d9d9d94b;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barra {
    width: 100%;
    height: 4px;
    background-color: #D162A4;
    margin-top: 5px;
}

.blococentral {
    width: 1200px;
    height: 600px;
    background-color: #D162A4;
    margin: 35px;
    margin-left: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloco2 {
    width: 1160px;
    height: 540px;
    background-color: #F2B6DC;
    border-radius: 10px;
}

.circulo {
    width: 220px;
    height: 220px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-left: 460px;
    margin-top: 30px;
    background-image: linear-gradient(  #ED8CC6, #CE539C, #A30262 );
    box-shadow: 10px 5px 5px 0px rgba(10px, 0, 0, 0.3);
}

#perfil {
    margin-left: 455px;
    position: relative; 
    top: -225px;
}
.container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.formulario {
  background: linear-gradient(to bottom right, #e8d4dd, #b487a2);
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  width: 280px;
  position: relative; 
  top: -250px;
  margin-left: 30px;
}

.formulario label {
  color: #6c004f;
  font-weight: bold;
  margin-bottom: 5px;
}

.formulario input {
  border: none;
  background: white;
  border-radius: 15px;
  padding: 8px 10px;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
  
}

.anonimo-box {
  background-color: #e5c9da;
  border-top: 2px solid #8b4976;
  border-radius: 20px;
  padding: 15px 20px;
  text-align: center;
  width: 200px;
  margin-left: 500px;
  position: relative;
  top: -300px;
}

.anonimo-box p {
  margin: 0 0 10px 0;
  color: #000;
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ba5d95;
  transition: .3s;
  border-radius: 30px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 8px;
  bottom: 6px;
  background-color: #f8e5f2;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #9c4583;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

footer {
    width: 100%;
    height: 150px;
    background-color: #F2B6DC;
}

.texto-final{
    color:#F19559;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
