* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background: #821957;
}

.seila {
    
}

.logo {
   margin-bottom: 0px;
   align-items: start;

}

.goodvibes {
    color: #F19559;
    align-items: center;
    display: ;
}


